* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  transition: all 0.4s linear;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}
h1{
  font-size: 3rem;
}
h4{
  font-size: 2.5rem;
}
p, li{
  font-size: 2.2rem;
}
html{
  font-size: 65%;
}
ul{
  list-style: none;
}
button{
  outline: none;
  border: 0;
  cursor: pointer;
  background: transparent;
  font-size: 3rem;
}

.btn{
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: white;
  border: .1rem solid #ffc1074b;
}
.btn:hover{
  background: rgba(255, 255, 255, 0.3);
}
.btn-light{
  background: rgba(255, 255, 255, 0.3);
}
a{
  text-decoration: none;
  color: inherit;
}

@media (max-width: 800px) {
  html{
    font-size: 55%;
  }
}
@media (max-width: 520px) {
  html {
    font-size: 50%;
  }
  
}